global:
  scrape_interval:     15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'master'

scrape_configs:
- job_name: prometheus
  scrape_interval: {{ openio_prometheus_scrape_interval }}
  scrape_timeout:  {{ openio_prometheus_scrape_timeout }}
  static_configs:
    - labels:
        host: "{{ ansible_nodename }}"
      targets: ['{{ openio_prometheus_bind_address }}:{{ openio_prometheus_bind_port }}']

{% if openio_prometheus_netdata_enabled and openio_prometheus_netdata_group in groups -%}
- job_name: netdata
  scrape_interval: {{ openio_prometheus_netdata_interval }}
  metrics_path: "/api/v1/allmetrics"
  params:
    format: [prometheus_all_hosts]
  honor_labels: true
  static_configs:
{%   for host in groups[openio_prometheus_netdata_group] %}
    - labels:
        host: "{{ hostvars[host].ansible_nodename }}"
      targets:
{%     set port = hostvars[host].openio_netdata_bind_port | d(openio_prometheus_netdata_bind_port) %}
{%     set address = hostvars[host].openio_netdata_bind_address | d(hostvars[host].openio_bind_mgmt_address) | d(hostvars[host].openio_bind_address) | d(hostvars[host].ansible_default_ipv4.address) %}
        - {{ address }}:{{ port }}
{%   endfor %}
{% endif %}

{% if openio_prometheus_oio_exporter_enabled and openio_prometheus_oio_exporter_group in groups -%}
- job_name: oio-exporter
  scrape_interval: {{ openio_prometheus_oio_exporter_interval }}
  metrics_path: "/metrics"
  honor_labels: true
  static_configs:
{%   for host in groups[openio_prometheus_oio_exporter_group] %}
    - labels:
        host: "{{ hostvars[host].ansible_nodename }}"
      targets:
{%     set port = hostvars[host].openio_oio_exporter_bind_port | d(openio_prometheus_oio_exporter_bind_port) %}
{%     set address = hostvars[host].openio_oio_exporter_bind_address | d(hostvars[host].openio_bind_mgmt_address) | d(hostvars[host].openio_bind_address) | d(hostvars[host].ansible_default_ipv4.address) %}
        - {{ address }}:{{ port }}
{%   endfor %}
{% endif %}


rule_files:
  - "{{ openio_service_conf_dir }}/rules/*.yml"

{% if openio_prometheus_alertmanager_enabled and openio_prometheus_alertmanager_group in groups -%}
alerting:
  alertmanagers:
  - static_configs:
{%   set host = groups[openio_prometheus_alertmanager_group] | first %}
{%   set port = hostvars[host].openio_alertmanager_bind_port | d(openio_prometheus_alertmanager_bind_port) %}
{%     set address = hostvars[host].openio_alertmanager_bind_address | d(hostvars[host].openio_bind_mgmt_address) | d(hostvars[host].openio_bind_address) | d(hostvars[host].ansible_default_ipv4.address) %}
    - targets: ['{{ address }}:{{ port }}']
    api_version: v2
{% endif %}
